<!-- brevo signup form -->
<div class="mailing-list">
    <form action="https://c776c2f7.sibforms.com/serve/MUIFAJLHL79eTm8XgBi6XjDyPYWRlE5wk4EPS6syenLDZf9sByrHG59nF-9fusmpfdqTE4QpLmWInYQGnVoqEHNSsJ4W8ATjrB4U-qM5Ujpk7MQ02SIAuo4rF77_6f1T95S_SPjl9JwLWJsDBEsIwxPy7acddalZHZZo0h72ArtWwYs_8z3zA_UBCdgrv8CZ9u0jH4K_12ljqAxH" method="post" id="sib-form">
        <input class="input " type="EMAIL" id="EMAIL" name="EMAIL" autocomplete="off" placeholder="Join our mailing list! Type your email." data-required="true" required />
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_fff22a483490b42028e367fcf_a2e07866c1" value=""></div>
        <div class="clear"><input type="submit" value="Go!" name="subscribe" class="button sib-form-block_button sib-form-block_button-with-loader" style="padding-right: 6px;" /></div>
    </form>
</div>
<!-- brevo signup form END -->
