    <div class="footer-meta">
        <div class="media">
            <img class="media__img" src="{{ SITEURL }}/theme//images/ECB-bubbly-14-relief.png" alt="" />
        </div>
        <div class="media__body">
            <p>Any questions? Send us a mail at <br /><a href="mailto:info@englishcomedybrussels.com">info@englishcomedybrussels.com</a></p>
            <br />
            <p style="font-size: 90%;">&copy; 2012-{{ CURRENT_DATE | strftime("%Y") }} {{ SITENAME }}
            <p style="font-size: 75%;">web by <a href="mailto:pagehead@gmail.com">ulf.gj</a></p>
        </div>
    </div>


<!--              <div class="sponsors footer-bg-light" >
                <img src="{{ SITEURL }}/theme//images/partners-01.jpg" alt="" />
                <img src="{{ SITEURL }}/theme//images/partners-02.jpg" alt="" />
                <img src="{{ SITEURL }}/theme//images/partners-03.jpg" alt="" />
            </div> -->

<!--         <div class="partners">
            <a href="http://internationalcomedians.com/"><img src="{{ SITEURL }}/theme//images/partners-04.jpg" alt="International Comedians" /></a>
            <a href="http://radiox.eu/"><img src="{{ SITEURL }}/theme//images/logo_radiox-04.jpg" alt="Radio X" /></a>
        </div> -->
