<nav class="nav-main" style="position: relative;">
    <a href="{{ SITEURL }}/index.html">English Comedy Brussels</a>
<!--     <a href="{{ SITEURL }}/#">news</a>
    <a href="{{ SITEURL }}/#">contact</a>
 -->
<div style="width: 250px;position: absolute; right: 0px; top:-1px; padding: 6px; border:1px solid #aaa; background-color: #f7f7f7; text-align:center;">
    <a href="https://culturius.com/brussels" style="font-size: 16px; color:black; margin-right:0;">
        <img src="{{ SITEURL }}/theme/images/culturius-logo.jpg" style="width: 200px;" />
        <p>Discover the cultural<br>life around you</p>
    </a>
</div>
    <br />
    
    <!-- Shows from 20:00/8pm @ <strong>Théâtre Marni</strong>, Rue de Vergnies 25 (Flagey), 1050 Brussels -->
</nav><!-- .nav-main END -->
